<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gin模板渲染</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <h1 style="color: blue">雷鑫慧是头猪</h1>
	<h1 style="color: green">雷鑫慧是大蠢驴</h1>
	<h1 style="color: red">雷鑫慧是个pig</h1>
    {{ .title }}
    <img src="/assets/lei.jpg" style="width: 100%;" alt="">
</body>
</html>